<%- include ('partials/head') %>
<%- include ('partials/navbar') %>
<div class="row">
	<div class="col">
		<% if (loggedIn) { %>
			<h2>Welcome back, <%= user.user_name %></h2>
		<% }  else { %>
			<h2>Welcome, please log in (upper right)</h2>
		<% } %>
	</div>
</div>
<div class="row">
	<div class="col col-lg-6">
		<% if (loggedIn) { %>
			<ul>
				<% for (let character of characters) { %>
					<li class="list-group-item">
						<%= character.character_name %>
						<a class="btn btn-primary float-end" href="/characters/<%= character.character_id %>">View</a>
					</li>
				<% } %>
			</ul>
		<% } %>
	</div>
</div>
<%- include ('partials/foot') %>