<%- include ('partials/head') %>
<%- include ('partials/navbar') %>
	<div class="row">
		<div class="col">
			<h1>Player List</h1>
		</div>
		<div class = "col">
			<a class="btn btn-primary float-end m-2" href="/newplayer/">Create New Player</a>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<ul class="list-group">
				<% for (let player of players) { %>
					<li class="list-group-item">
						<%= player.name.trim() %> - level <%= player.level %> <%= player.class %>
						<a class="btn btn-primary float-end" href="/player/<%= player.id %>">View</a>
					</li>
				<% } %>
			</ul>
		</div>
	</div>
<%- include ('partials/foot') %>