<%- include ('partials/head') %>
<%- include ('partials/navbar') %>
<div class="row">
	<div class="col">
		<table class="table table-striped">
			<thead>
				<!-- <th scope="col">Equipment ID</th> -->
				<th scope="col">Equipment Name</th>
				<th scope="col">Required Level</th>
				<th scope="col">Strength</th>
				<th scope="col">Intelligence</th>
				<th scope="col">Dexterity</th>
				<th scope="col">Charisma</th>
			</thead>
			<tbody>
				<% for (let item of equipment) {%>
					<form class="form-horizontal" action="/altercharacter" method="POST">
						<tr>
							<!-- <th scope="row"><%= item.equipment_id %></th> -->
							<th scope="row"><%= item.equipment_name.trim() %></th>
							<td><%= item.equipment_level %></td>
							<td><%= item.equipment_str %></td>
							<td><%= item.equipment_int %></td>
							<td><%= item.equipment_dex %></td>
							<td><%= item.equipment_cha %></td>
							<% if (picking) { %>
								<td>
									<input type="hidden" id="playerID" name="chID" value=<%= ourPlayer %>>
									<input type="hidden" id="equipmentID" name="eqID" value=<%= item.equipment_id %>>
									<input type="hidden" id="equipmentSlot" name="eqSlot" value=<%= slot %>>
									<button type="submit" class="btn btn-primary" href="/altercharacter">Choose</button>
								</td>
							<% } %>
						</tr>
					</form>
				<% } %>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col">
		<form action="/additem" method="POST">
			<div class="row mb-1">
				<div class="col-2">
					<input type="text" class="form-control" name="eqName" id="equipmentName" aria-describedby="eqName" placeholder="Equipment Name">
				</div>
				<div class="col-1">
					<input type="text" class="form-control" id="eqLevel" aria-describedby="eqLevel" name="eqLevel" placeholder="Level">
				</div>
				<div class="col-2">
					<input type="text" class="form-control" id="equipmentStrength" aria-describedby="eqStr" name="eqStr" placeholder="Bonus Strength">
				</div>
				<div class="col-2">
					<input type="text" class="form-control" id="equipmentIntelligence" aria-describedby="eqInt" name="eqInt" placeholder="Bonus Intelligence">
				</div>
				<div class="col-2">
					<input type="text" class="form-control" id="equipmentDexterity" aria-describedby="eqDex" name="eqDex" placeholder="Bonus Dexterity">
				</div>
				<div class="col-2">
					<input type="text" class="form-control" id="equipmentCharisma" aria-describedby="eqCha" name="eqCha" placeholder="Bonus Charisma">
				</div>
				<div class="col-1">
					<input type="hidden" id="equipmentSlot" name="category" value=<%= category %>>
					<button type="submit" class="btn btn-primary" href="/additem">Add</button>
				</div>
			</div>
		</form>
	</div>
</div>
<%- include ('partials/foot') %>