<%- include ('partials/head') %>
<%- include ('partials/navbar') %>
<div class="row">
	<div class="col-3 col-md-6">
		<img src="/static/img/<%= player.class_name %>_lg.png" class="img-fluid" alt="warrior">
	</div>
	<div class="col-9 col-md-6">
		<h2><%= player.player_name %></h2>
		<h4>Level <%= player.player_level %> <%= player.class_name %></h4>
		<div class="row">
			<div class="col-4 col-lg-3 float-end p-0">
				<p class="float-end">Strength:</p>
			</div>
			<div class="col-2 col-lg-1 p-r-0">
				<p><%= player.player_str %></p>
			</div>
			<div class="col-4 col-lg-3 p-0">
				<p class="float-end">Intelligence:</p>
			</div>
			<div class="col-2 col-lg-1">
				<p><%= player.player_int %></p>
			</div>
		</div>
		<div class="row">
			<div class="col-4 col-lg-3 float-end p-0">
				<p class="float-end">Dexterity:</p>
			</div>
			<div class="col-2 col-lg-1 p-r-0">
				<p><%= player.player_dex %></p>
			</div>
			<div class="col-4 col-lg-3 p-0">
				<p class="float-end">Charisma:</p>
			</div>
			<div class="col-2 col-lg-1">
				<p><%= player.player_cha %></p>
			</div>
		</div>
		<div class="row mb-2">
			<div class="col-6">
				<div class="card" id="headEquCard">
					<div class="card-body">
						<h5 class="card-title mb-3"><%= player.player_equ[0].equipment_name.trim() %></h5>
						<p class="card-text mb-0">Strength: <%= player.player_equ[0].bonus_str %></p>
						<p class="card-text mb-0">Dexterity: <%= player.player_equ[0].bonus_dex %></p>
						<p class="card-text mb-0">Intelligence: <%= player.player_equ[0].bonus_int %></p>
						<p class="card-text mb-0">Charisma: <%= player.player_equ[0].bonus_cha %></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row mb-2">
			<div class="col-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title mb-3"><%= player.player_equ[1].equipment_name.trim() %></h5>
						<p class="card-text mb-0">Strength: <%= player.player_equ[1].bonus_str %></p>
						<p class="card-text mb-0">Dexterity: <%= player.player_equ[1].bonus_dex %></p>
						<p class="card-text mb-0">Intelligence: <%= player.player_equ[1].bonus_int %></p>
						<p class="card-text mb-0">Charisma: <%= player.player_equ[1].bonus_cha %></p>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title mb-3"><%= player.player_equ[3].equipment_name.trim() %></h5>
						<p class="card-text mb-0">Strength: <%= player.player_equ[3].bonus_str %></p>
						<p class="card-text mb-0">Dexterity: <%= player.player_equ[3].bonus_dex %></p>
						<p class="card-text mb-0">Intelligence: <%= player.player_equ[3].bonus_int %></p>
						<p class="card-text mb-0">Charisma: <%= player.player_equ[3].bonus_cha %></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title mb-3"><%= player.player_equ[2].equipment_name.trim() %></h5>
						<p class="card-text mb-0">Strength: <%= player.player_equ[2].bonus_str %></p>
						<p class="card-text mb-0">Dexterity: <%= player.player_equ[2].bonus_dex %></p>
						<p class="card-text mb-0">Intelligence: <%= player.player_equ[2].bonus_int %></p>
						<p class="card-text mb-0">Charisma: <%= player.player_equ[2].bonus_cha %></p>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title mb-3"><%= player.player_equ[4].equipment_name.trim() %></h5>
						<p class="card-text mb-0">Strength: <%= player.player_equ[4].bonus_str %></p>
						<p class="card-text mb-0">Dexterity: <%= player.player_equ[4].bonus_dex %></p>
						<p class="card-text mb-0">Intelligence: <%= player.player_equ[4].bonus_int %></p>
						<p class="card-text mb-0">Charisma: <%= player.player_equ[4].bonus_cha %></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/static/js/test.js"></script>
<%- include ('partials/foot') %>