<%- include ('partials/head') %>
<%- include ('partials/navbar') %>
<div class="row">
	<div class="col-3 col-md-6">
		<img src="/static/img/<%= character.class_name %>_lg.png" class="img-fluid" alt="warrior">
	</div>
	<div class="col-9 col-md-6">
		<h2><%= character.character_name %></h2>
		<h4>Level <%= character.character_level %> <%= character.class_name %></h4>
		<div class="row">
			<div class="col-4 col-lg-3 float-end p-0">
				<p class="float-end">Strength:</p>
			</div>
			<div class="col-2 col-lg-1 p-r-0">
				<p><%= character.character_str %></p>
			</div>
			<div class="col-4 col-lg-3 p-0">
				<p class="float-end">Intelligence:</p>
			</div>
			<div class="col-2 col-lg-1">
				<p><%= character.character_int %></p>
			</div>
		</div>
		<div class="row">
			<div class="col-4 col-lg-3 float-end p-0">
				<p class="float-end">Dexterity:</p>
			</div>
			<div class="col-2 col-lg-1 p-r-0">
				<p><%= character.character_dex %></p>
			</div>
			<div class="col-4 col-lg-3 p-0">
				<p class="float-end">Charisma:</p>
			</div>
			<div class="col-2 col-lg-1">
				<p><%= character.character_cha %></p>
			</div>
		</div>
		<div class="row mb-2">
			<div class="col-6">
				<div class="card" id="headEquCard">
					<div class="card-body">
						<h5 class="card-title mb-3"><%= character.character_equ[0].equipment_name.trim() %></h5>
						<p class="card-text mb-0">Strength: <%= character.character_equ[0].bonus_str %></p>
						<p class="card-text mb-0">Dexterity: <%= character.character_equ[0].bonus_dex %></p>
						<p class="card-text mb-0">Intelligence: <%= character.character_equ[0].bonus_int %></p>
						<p class="card-text mb-0">Charisma: <%= character.character_equ[0].bonus_cha %></p>
						<a href="/list/head?p=true&pid=<%= character.character_id %>" class="card-link float-end">Pick</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row mb-2">
			<div class="col-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title mb-3"><%= character.character_equ[1].equipment_name.trim() %></h5>
						<p class="card-text mb-0">Strength: <%= character.character_equ[1].bonus_str %></p>
						<p class="card-text mb-0">Dexterity: <%= character.character_equ[1].bonus_dex %></p>
						<p class="card-text mb-0">Intelligence: <%= character.character_equ[1].bonus_int %></p>
						<p class="card-text mb-0">Charisma: <%= character.character_equ[1].bonus_cha %></p>
						<a href="/list/body?p=true&pid=<%= character.character_id %>" class="card-link float-end">Pick</a>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title mb-3"><%= character.character_equ[3].equipment_name.trim() %></h5>
						<p class="card-text mb-0">Strength: <%= character.character_equ[3].bonus_str %></p>
						<p class="card-text mb-0">Dexterity: <%= character.character_equ[3].bonus_dex %></p>
						<p class="card-text mb-0">Intelligence: <%= character.character_equ[3].bonus_int %></p>
						<p class="card-text mb-0">Charisma: <%= character.character_equ[3].bonus_cha %></p>
						<a href="/list/hand?p=true&pid=<%= character.character_id %>" class="card-link float-end">Pick</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title mb-3"><%= character.character_equ[2].equipment_name.trim() %></h5>
						<p class="card-text mb-0">Strength: <%= character.character_equ[2].bonus_str %></p>
						<p class="card-text mb-0">Dexterity: <%= character.character_equ[2].bonus_dex %></p>
						<p class="card-text mb-0">Intelligence: <%= character.character_equ[2].bonus_int %></p>
						<p class="card-text mb-0">Charisma: <%= character.character_equ[2].bonus_cha %></p>
						<a href="/list/leg?p=true&pid=<%= character.character_id %>" class="card-link float-end">Pick</a>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title mb-3"><%= character.character_equ[4].equipment_name.trim() %></h5>
						<p class="card-text mb-0">Strength: <%= character.character_equ[4].bonus_str %></p>
						<p class="card-text mb-0">Dexterity: <%= character.character_equ[4].bonus_dex %></p>
						<p class="card-text mb-0">Intelligence: <%= character.character_equ[4].bonus_int %></p>
						<p class="card-text mb-0">Charisma: <%= character.character_equ[4].bonus_cha %></p>
						<a href="/list/feet?p=true&pid=<%= character.character_id %>" class="card-link float-end">Pick</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include ('partials/foot') %>